# API Gateway Environment Variables
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/ecommerce

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate Limiting Settings
APP_RATE_LIMITING_AUTH_CAPACITY=5
APP_RATE_LIMITING_GENERAL_CAPACITY=60
